/*Limpar formatações padrões*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

a{
    text-decoration: none;
}

/*
**** Layout ****
*/

#area-cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}

/*
**** Formatação do menu ***
*/

a:link, a:visited {
    color: white;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background: white;
}

/*
**** Formatações em geral ****
*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
    
}

.branco {
    color: white;
}